.home{
  background-image: url("../assets/h_img.jpg"); 
  height: 100vh; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; ;
}
.services{
  background-image: url(../assets/s_image.jpg);
  height: 50vh;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; ;
}
.contact{
  background-image: url("../assets/c_image.jpg"); 
  height: 80vh; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; ;
  margin-top: 100px;
}
.form-control{
  background: transparent;
}