*{
  font-family: 'poppins' sans-serif;
}
.home{
  background-image: url("../assets/h_img.jpg"); 
  height: 100vh; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; ;
}
.content1{
padding: 15%;
}
.mouse{
  padding-top: 10%;
  height: 5px;
  margin: 24px 0 0 -130px;
  animation: updown 1s ease infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-20%);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(-20%);
  }
}
.services{
  background-image: url(../assets/s_image.jpg);
  height: 50vh;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; ;
}
.design p, .development p, .product p{
display: none;
cursor: pointer;
}

/*#hoverImage{
  height: auto;
  position: relative;
}
#hoverImage:hover #hoverTitle{
  opacity: 1;
}
#hoverTitle{
  position: absolute;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  display: none; 
  background-color: rgb(218, 208, 208);
    transition: all 0.5s ease;
}
#hoverTitle h5 {
  position: absolute;
  color: #fff;
  top: 50%;
  width: 100%;
  text-align: center; 
}*/
#image1{
  position: relative;
}
.text1{
  position: absolute;
  z-index: 1;
  left: 25%;
  top: 40%;
}
.hide{
  display: none;
}

.contact{
  background-image: url("../assets/c_image.jpg"); 
  height: 80vh; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; ;
  margin-top: 100px;
}
form #contact{
  background-color: rgba(0, 0, 0, 0);
}

input[type=text]{
  background:transparent;
  color: white;
}
input[type=email]{
  background:transparent;
  color: white;
}
textarea[type=text] {
  background:transparent;
  color: white;
}

